li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
  width: 100px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: aqua;
  margin: 5px;
  padding: 5px;
  width: 200px;

}

.form-group {
  margin-bottom: 5px;
}

.devour{
  float:right;
}